<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True"/>
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="webhelp@aaubedglass.co.uk">
        <network host="mail" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <roleManager enabled="true"/>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms"/>
      <!--<httpRuntime targetFramework="4.5.2" />-->
    </system.web>

</configuration>
